* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    min-height: calc(100vh / 5);
    background-color: #ffc0cb;
    border: 1px solid black;
    padding: 5px;
    
}

.box_nested {
    min-height: calc(100vh / 5);
    background-color: #f07f80;
    border: 1px solid white;
}